# Django Settings
SECRET_KEY=django-insecure-example-key
DEBUG=True

# Google API
GOOGLE_CLIENT_ID=your-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-client-secret

# Fernet暗号化キー
FERNET_KEY=your-fernet-key-here